<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuperwallAPIKey</key>
	<string>pk_80BGDJcAB0cWDeBI2BQva</string>
	<key>PrivacyPolicyURL</key>
	<string>https://www.graey.dev/privacy</string>
	<key>AppDisplayName</key>
	<string>HEIC to JPG</string>
	<key>SKIncludeConsumableInAppPurchaseHistory</key>
	<true/>
</dict>
</plist>
